@charset "UTF-8";
/* header{
    height: 250px;
} */
/* Variables */
/* HEADER CSS */
.header {
  background-color: black;
}

/*
nav ul li {
    list-style: none;
    display: inline;
    justify-content: right;
} */
/* MAIN: */
main {
  background-color: white;
}

.somos h1 {
  color: black;
}
.somos p {
  color: blueviolet;
}

h1 {
  color: black;
  text-align: center;
}

.ciudadela {
  display: flex;
  align-items: center;
}
.ciudadela p {
  color: blueviolet;
}

.tachado {
  text-decoration-line: line-through;
}

.pagos {
  width: 100%;
}

/* FOOTER */
footer {
  background-color: black;
}

h6 {
  color: white;
}

p {
  color: white;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: rgba(133, 124, 124, 0.425);
}

nav ul li a:hover {
  color: white;
}

.redes {
  display: grid;
  grid-template-columns: 200px 20px 20px 20px 20px;
  column-gap: 50px;
}

/* FUENTE: */
@font-face {
  font-family: "Roboto";
  src: url(../fonts/RobotoMono-Regular.ttf);
}
/* CSS Productos */
.productos {
  height: 340px;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto";
  cursor: pointer;
}
.productos img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  transition: 1s;
}
.productos img:hover {
  transform: scale(1.2);
}
.productos h3 {
  margin-bottom: 10px;
}
.productos p {
  margin-bottom: 5px;
  color: black;
}
.productos button {
  background: linear-gradient(to right, purple, blue);
  color: white;
  border: none;
  border-radius: 5px;
}
.productos button:hover {
  background: linear-gradient(to right, rgb(105, 0, 105), rgb(0, 0, 91));
}

.carritoP {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  row-gap: 50px;
  column-gap: 50px;
}

.carritoPr {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 150px;
  row-gap: 50px;
  column-gap: 50px;
}

/*contacto*/
.ayuda {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 150px 300px;
  row-gap: 250px;
  column-gap: 50px;
}

.mapa {
  display: grid;
}

.ttayuda p {
  color: black;
}

/* menu */
.navbar .nav-link {
  color: white;
}

.navbar-nav .nav-link.active {
  color: white;
}

/* Diseño responsive Movil */
@media (max-width: 768px) {
  .carritoP {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    row-gap: 50px;
    column-gap: 50px;
  }
  .ayuda {
    grid-template-columns: 350px;
    grid-template-columns: 350px;
    column-gap: 50px;
    row-gap: 200px;
  }
  .redes {
    display: grid;
    grid-template-columns: 150px 20px 20px 20px 20px;
    column-gap: 10px;
  }
  .redes img {
    height: 25px;
    width: 25px;
  }
  .carritoPr {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    row-gap: 70px;
    column-gap: 50px;
  }
  .video iframe {
    height: 100%;
    width: 350px;
  }
}

/*# sourceMappingURL=estilos.css.map */
