/*contacto*/

.ayuda {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 150px 300px;
    row-gap: 250px;
    column-gap: 50px;
}

.mapa {
    display: grid;
}

.ttayuda p {
    color: black;
}

.letra h2 {
    color: black;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.btn-primary {
    background-color: black;
    --bs-btn-border-color: white;
}
.btn-primary:hover {
    background-color: rgb(123, 13, 131);
    --bs-btn-border-color: black;
    --bs-btn-hover-border-color: black;
}