/*contacto*/

.ayuda {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 150px 300px;
    row-gap: 250px;
    column-gap: 50px;
}

.mapa {
    display: grid;
}

.ttayuda p {
    color: black;
}
