/* MAIN: */
main{
    background-color: white;
}

.somos {
    h1 {
        color:black
    }
    p {
        color: blueviolet;
    }
} 
    

h1{
    color: black;
    text-align: center;
}

.ciudadela {
    display: flex;
    align-items: center;
    p {
        color: blueviolet
    }
}

.tachado {
    text-decoration-line: line-through;
}

.pagos {
    width: 100%;
}
