/* CSS Productos */
.productos {
    height: 340px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-family: "Roboto";
    cursor: pointer;
    img {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        transition: 1s;
    }
    img:hover {
        transform: scale(1.2);
    }
    h3 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 5px;
        color: black;
    }
    button {
        background:linear-gradient(to right, purple, blue);
        color: white;
        border:none;
        border-radius: 5px
    }
    button:hover {
        background:linear-gradient(to right, rgb(105, 0, 105), rgb(0, 0, 91));
    }
} 

.carritoP {
display: grid;
justify-content: center;
grid-template-columns: 300px 300px 300px;
grid-template-rows: 300px 300px 300px;
row-gap: 50px;
column-gap: 50px;
}

.carritoPr {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 150px;
    row-gap: 50px;
    column-gap: 50px;
    }