    /* Diseño responsive Movil */
    @media (max-width: 768px) {
        .carritoP { 
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 300px;
            row-gap: 50px;
            column-gap: 50px;
            justify-content: center;
        }

        .ayuda{
        grid-template-columns: 350px;
        grid-template-columns: 350px;
        column-gap: 50px;
        row-gap: 200px;
        }
        .mapa {
            justify-content: center;
            margin-top: 30px;
            h2 {
                display: flex;
                justify-content: center;
            }
        }

        .redes{
            display: grid;
            grid-template-columns: 150px 20px 20px 20px 20px;
            column-gap: 10px;
        img {
            height: 25px;
            width: 25px;
        }
        }
        .carritoPr { 
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 300px;
            row-gap: 70px;
            column-gap: 50px;
            justify-content: center;
        }
        .video {
            height: 300px;
            width: 100%;
            margin-top: 6px;
        }
        .pagos {
            margin-top: 20px;
        }

        .footer1 {
            padding: 10px;
            margin-top: 20px;
        }

        .ciudadela {
            display: grid;
        img {
            width: 100%;
        }
        }
        }
