/* header{
    height: 250px;
} */

/* Variables */


@import "header";

/*
nav ul li {
    list-style: none;
    display: inline;
    justify-content: right;
} */

@import "main";

@import "footer";

@import "fuente";

@import "productos";

@import "contacto";

@import "menu";

@import "responsive";

@import "carrusel";










